body{
  background-color: #f0f8ff;
  margin: 0px;
  transition: all .3s linear 0s
  color: #212529;
  padding-bottom: 100px;
  /* transition: all .3s linear 0s; */
}
div{
  margin-top: 0px;
  margin-bottom: 0px;
  transition: all .5s linear .2s;
}
.one{
  margin: 0px 50px 0px 50px;
}
.two{
  margin:  0px 100px 0px 100px;
}
h4{
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  padding-left: 15px;
  cursor: pointer;
}
.arrow{
  height: 10px;
 width: 20px;
display : inline-block;
position: relative;
right: 50px;
top: 15px;
cursor: pointer;
}
h2{
  font-size: 48px;
  margin-right: 50px;
  padding-right: 50px;
  line-height: 1.2 rem;
  font-family:  "Roboto Slab", serif;
  font-weight: 300;
  margin-top: 10px;
  cursor: pointer;
}
h3{
  font-size: 16px;
  padding: 25px 0px;
  font-weight: 500px;
  margin-right: 50px;
  padding-right: 30px;
  font-family:  "Roboto Slab", serif;
}
p{
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
  font-family:  "Roboto Slab", serif;
  height: 40px;
  width: 300px;
  display : inline-block;
  /* position: relative; */
  margin: 0px;
}
.right{
  width: 500px;
  height: 320PX;
  display : inline-block;
  /* position: relative; */
}
.image{
  width: 530px;
  height: 320px;
  display : inline-block;
  /* position: absolute; */
  margin: 0px;

}
#image1 {
  height: 320px;
  width: 530px;
}
#image2  {
  height: 320px;
  width: 530px;
}
#image3  {
  height: 320px;
  width: 530px;
}
#image4  {
  height: 320px;
  width: 530px;
}
h4:hover{
  color: gray;
   padding-left:   50px;
   transition-delay: .02s;
   border-color: white;
}
h2:hover{
/* box-shadow: 0 0.4px 0.1px rgba(0,0,0.2,.5); */
/* -webkit-transform: scale(2.04); */
transform: scale(1.04);
background-color:#f0f8ff ;
box-shadow: .2px .2px .2px .2px gray;
}
p:hover{
  color: gray;
}
.image:hover{
  transform: rotateY(180deg);
  transition: transform 1.5s ease;
  /* transition-property: all; */
}

button {
padding: 15px;
font-size: 1.3rem;
background-color: black;
color:#f0f8ff ;
border-color: #f0f8ff;
text-align: center;
}
button:hover{
  background-color: gray;
}
